<div class="row">
    <div class="col-2 border-right">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a ng-repeat="item in $ctrl.menu" class="nav-link" ng-class="{active : $ctrl.activeMenu == item.id}" href="#" ng-click="$ctrl.selectMenu(item)">
                {{item.name}}
                <span class="badge float-right" ng-class="{'badge-success': $ctrl.isValid(item) == true, 'badge-danger': $ctrl.isValid(item) != true}">
                    <i class="fas fa-check" ng-if="$ctrl.isValid(item) == true"></i>
                    <i class="fas fa-times" ng-if="$ctrl.isValid(item) != true"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-4">
        <div class="tab-content">
            <div ng-repeat="item in $ctrl.menu" class="fade tab-pane p2" ng-class="{active: $ctrl.activeMenu == item.id, show: $ctrl.activeMenu == item.id}">
                <patient ng-if="item.id == 'patient'"></patient>
                <allergies ng-if="item.id == 'allergies'"></allergies>
                <medications ng-if="item.id == 'medications'"></medications>
                <clinical-summary ng-if="item.id == 'summary'"></clinical-summary>
                <div ng-if="item.id == 'diagnosis'">{{item.name}}</div>
                <div ng-if="item.id == 'gp'">
                    <gp></gp>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-header">
                FHIR Message
            </div>
            <div class="card-body" style="max-height:400px; overflow: scroll">
                <pre>{{$ctrl.fhirMessage}}</pre>
            </div>
            
        </div>
    </div>
</div>